[2016-04-24 17:24] Sobuno opened #1 "Version number not updated in 0.1.1"
The version number in setup.py should be updated to version 0.1.1.

I was wondering why my Home Assistant was taking so long to boot and looked at the logs as it booted - on every boot, it was trying to install a new version of pyW215 since the current version was not meeting the requirements because it thinks it installed 0.1.

[2016-04-24 19:01] LinuxChristian commented on #1
Thanks for the bugfix. Let me know if everything works now then I will close the issue.

[2016-04-24 19:07] Sobuno commented on #1
Just did a couple of restarts. First one downloaded pyW215 again and the second one passed right through, so it seems to work perfectly now :)

[2016-04-24 19:07] #1 closed

[2016-08-01 05:50] feitingen opened #2 "Working on 2.22"
I have it working on 2.22

state, current_consumption, temperature, total_consumption all works.

[2016-08-02 06:03] LinuxChristian commented on #2
Great. I have updated the README.

[2016-08-02 06:03] #2 closed

[2016-08-28 08:19] nvella opened #3 "Legacy firmware support"
Hi,

I live in Australia and was excited to integrate my DSP-W215 plug into my home automation system via home-assistant, which leverages the pyW215 library. However after I managed to get D-Link's app working the plug firmware would only update to v1.24, which uses a fundamentally different API than v2.00 onwards. I then proceeded to email D-Link Australia Support, where they then confirmed that

[2016-08-28 10:51] nvella commented on #3
It seems that the only thing different in v1.x is authentication. I'll close this issue for now as legacy support shouldn't need to be added.

[2016-08-28 10:51] #3 closed

[2016-08-28 11:10] LinuxChristian commented on #3
Let me know what you find out. If the changes are larger I would perhaps add version support to **init** and move the version specific subroutines (i.e. legacy and non-legacy) to separate files. Then do something one the line of

import version2x
import version1x

if self.version > 2.0:
 # Do something in Europe with version2x
else:
 # Do something in Australia with version1x

Then only **init** a

[2016-08-28 11:14] LinuxChristian commented on #3
You might also have seen that I have removed all exceptions from the library and only use the logging module to report errors. This is not something I normally do but I had trouble with exceptions crashing home assistant.

[2016-08-28 11:20] nvella commented on #3
Yeah, unfortunately I've tried all the proof-of-concepts and it seems that they've all been patched on versions past v1.10. After doing some tests with the library I've found that the plug seems to be responding normally to authentication; it's just rejecting whatever passwords I'm throwing at it (like the plug PIN, etc). So I'd say at the current point in time legacy support isn't needed.

Next I

[2016-08-28 11:44] LinuxChristian commented on #3
Try also to verify that it is using the same hash method for passwords. I use the https://docs.python.org/3/library/hmac.html library to hash passwords before sending them to the plug. That could also be a issue.

[2016-08-29 07:43] nvella commented on #3
I've captured the initial setup conversation between the app and the plug and have tried to recreate the authentication parameters by following pyW215's method, but with using the parameters in the capture.

Looking to [lines 248 and 249 in pyW215.py](https://github.com/LinuxChristian/pyW215/blob/master/pyW215/pyW215.py#L248), I recreated the `PrivateKey` and `login_pwd` values using the python hm

[2016-09-02 13:00] nvella commented on #3
#4 should fix.

[2016-09-15 05:57] LinuxChristian opened #6 "Support for W110 smartplug broke in release 0.3.x"
With the following error message

[code]

Also see: https://github.com/home-assistant/home-assistant/issues/3386

[2016-09-15 06:00] LinuxChristian commented on #6
@Shadex12 I need you to go into the HA .deps folder and find the file pyW215/pyW215.py. Open the file and find line 143,

`value = root.find('.//{http://purenetworks.com/HNAP1/}%s' % (responseElement)).text`

Just above it write,

[code]

Then run your small test script again and see what you get.

[2016-09-15 12:13] Shadex12 commented on #6
@LinuxChristian I modified the file so it looks like this:

[code]

This is what i get when I run the test file.

<http.client.HTTPResponse object at 0x76a16450>
<?xml version="1.0" encoding="UTF-8"?><soap:Envelope xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/soap/envelope/">soap:Body<GetCurrentPowerConsum

[2016-09-15 12:15] LinuxChristian commented on #6
Do you know if your plug supports showing power consumption?

[2016-09-15 12:16] Shadex12 commented on #6
It does not. Or temperature. This why is suspect these issues are occurring.

[2016-09-15 12:22] LinuxChristian commented on #6
I see... then the problem is related to state attributes which have been added to the new release of the HA component but expects devices to always return consumption and temperature.. I will see if I can fix it directly in the library. Could you try the following code to verify that your switch still is able to turn on and off,

[code]

**Note**: This should turn your plug off and then on. Just i

[2016-09-15 12:31] Shadex12 commented on #6
Yes. That worked well. Turned off then back on. Here is the output:

`<http.client.HTTPResponse object at 0x765d9230>
<?xml version="1.0" encoding="UTF-8"?><soap:Envelope xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/soap/envelope/"><soap:Body><SetSocketSettingsResponse xmlns="http://purenetworks.com/HNAP1/

[2016-09-15 12:49] LinuxChristian commented on #6
Great! I just need too see how best to fix it and submit a patch to the HA guys. Might take a day or two. So the fix should be available in next HA release (either hotfix 0.28.3-4 or 0.29). While you wait find the location where you installed HA. You can find it by running,

`find /usr/local | grep dlink.py; find /home/ | grep dlink.py`

It should return some like,

/usr/local/lib/python3.4/dist-p

[2016-09-15 13:27] Shadex12 commented on #6
They now show up as "unnamed devices" but I was able to add them back into the configuration and they are working.

Thanks for all your help! If you need someone to test in the future, please don't hesitate to contact me.

[2016-09-15 18:25] LinuxChristian commented on #6
I have a new version ready. Could I get you to add the following to your dlink.py file in HA

[code]

Then overwrite your pyW215.py file from deps with the latest from [github](https://raw.githubusercontent.com/LinuxChristian/pyW215/master/pyW215/pyW215.py),

Now hopefully you should not get errors in HA. If you click the switch in the HA web interface you should see N/A next to all the attributes

[2016-09-17 02:05] Shadex12 commented on #6
@LinuxChristian This is working perfectly.

Thanks again.

[2016-09-17 11:02] #6 closed

[2016-11-01 21:35] djace opened #8 "Invalid Temperature Returned"
Using the code with a recently purchased W215 with a 2.02 firmware, the temperature returned is always in the range of 10 to 12. Other values such as Consumption or Total Consumption seem correct, but Temperature is not. Is this correct? How should I interpret this value?

[2016-11-02 07:07] LinuxChristian commented on #8
My temperature range is 99% of the time between 30 - 40 degrees Celsius, My rooms are perhaps only 20 degree Celsius but I think the switches generate quite some heat just sitting in the socket. I have a switch from the EU. If you got yours from outside the EU it may report Fahrenheit but then I would expect a greater number then 12.

I would suggest placing the switch either a really cold or warm

[2016-11-03 10:39] GreenKudu commented on #8
Thanks a lot for your feedback!

After your message, I finally sat down, factory reset the plug, got the damn Android app to pair with the plug, which I had been unable to do until now, even though I was able to connect your library to the plug since day 1 :smile:

The first thing the app did after pairing was upgrade the firmware of the plug to v2.22. I thought that this might break pyW215 but it

[2016-11-03 12:00] LinuxChristian commented on #8
Great you got it working!

I have added a comment to the readme about upgrading the firmware in case of problems. Hopefully that should aid any other users who have similar problems.

[2016-11-03 12:00] #8 closed

[2016-11-30 10:48] fpytloun opened #9 "Auth fails with 500: Internal Server Error after some time"
Hello,

I am using DSP-W215 with firmware 2.22 and controlling it using Homeassistant and this plugin: https://home-assistant.io/components/switch.dlink/

I have found out that after some time of flawless work (eg. couple of days), it will stop working returning `HTTP Error 500: Internal Server Error` in `auth` method from URL `http://192.168.33.171/HNAP1/`.

Even login form in D-Link's web interf

[2016-11-30 11:47] LinuxChristian commented on #9
I have had the same problems with both my switches. It varies a lot how long they remain up. Some times it's a couple of days but now one switch has been running for weeks without problems.
I would also expect a firmware problem but it could also be that some API calls creates a bug. Have anyone had the same problems using only the app?

So far I have only worked around the problem by fixing the l

[2016-12-30 07:33] IvayloIliev commented on #9
I am experiencing the same problem Using openhab and the exec binding (calling python customTool.py where each time a new object/connection is created for each status update and state change). I will try to investigate whether it is due to the many connections mixing up.

[2017-01-13 22:28] mikepm35 commented on #9
I was experiencing this same issue with two W110's and Home Assistant.  In doing some debugging, auth requests started to fail after 7-9 hours, independent of whether 1 or 2 switches were active.  What was interesting was that the failures were never 100%, but the frequency of the auth denials increased over time.  Restarting the Home Assistant service did not help, but if I put retry logic in for

[2017-01-23 20:37] LinuxChristian commented on #9
Sorry for the late reply. Interesting. Perhaps it can only handle a certain number of requests to non-existing functions.

Do you use it with Home assistant (HA)? If so what does HA report for the actions you skip? N/A?

[2017-02-02 01:22] ozrex75 commented on #3
Any chance of re-opening this issue with a possible addition of reading the consumption value from the legacy firmware version?

Using a test http post from this code: https://github.com/fake-name/DSP-W215-Poller/blob/master/dspLog.py I am able to read the consumption value from my Australian DSP-W215 on firmware 1.24.  Any chance someone could implement such a call?  It doesn't require authentica

[2017-02-03 10:32] LinuxChristian commented on #3
Sure, we can look in to it.
But where do you get the number 24567868457 from? From DSP-W215-Poller it should just be a random number. Is that true?
Unfortunately I do not have access to any of my switches for the next couple of month so I can't test any code locally.

[2017-02-04 09:38] ozrex75 commented on #3
Yes, it's just a random number I made up.  I'm happy to be a tester :)

[2017-02-04 09:56] nvella commented on #3
I'll give it a shot. I've been able to successfully retrieve the consumption from my W215 through the my_cgi.cgi request.

[2017-02-04 11:06] nvella commented on #3
I've implemented it in PR #10. It seems to work on mine.

[2017-02-07 08:11] LinuxChristian commented on #3
Great, @nvella! Thanks for the PR. I will merge your changes tonight so @ozrex75 can test it.

[2017-02-07 21:01] LinuxChristian commented on #3
@ozrex75 can you pull the latest from my repo and test @nvella's changes? If everything works I will do a version bump and send a PR to HA for the next release cycle.

[2017-02-09 03:43] ozrex75 commented on #3
Hi, I have pulled the latest from the repo and tested on my australian DSP-W215 on firmware 1.24, and it's returning the current consumption value correctly.  Any ideas how long it takes to get pushed through to home-assistant releases?

[2017-02-10 08:25] LinuxChristian commented on #3
Great! HA has resumed their bi-weekly release cycle. If my math is correct the next release should be tomorrow (don't think we will get in that). The next will then be about 14 days from now.

[2017-02-10 08:58] LinuxChristian commented on #3
https://github.com/home-assistant/home-assistant/pull/5843

[2017-02-10 23:22] IvayloIliev commented on #9
Hi again. Yes I am using it with OpenHAB and reports "Failed to authenticate with SmartPlug 192.168.x.x" + N/A at the end. I also tested with multiple instances of the pyW215 script so it not related to some threading issue on the socket. I just got some time to change my script to use Flask (so I can have static global object for all my requests to the socket) and will report back after a few day

[2017-02-13 10:01] LinuxChristian commented on #3
The changes have been merged into v0.38. Just update your HA and it should work.

[2017-03-04 08:34] thecalle opened #11 "import request fails"
To make code run with Python 2.7, code must be changed from:
from **urllib.request** import Request, urlopen
from **urllib.error** import URLError, HTTPError
to
from **urllib2** import Request, urlopen
from **urllib2** import URLError, HTTPError

[2017-03-06 07:53] LinuxChristian commented on #11
The code is written for python 3.x. Compatibility with both 2.x and 3.x can be tricky but I will look into fixing the import of urllib.

[2017-04-13 11:00] andrey-git opened #12 "Publish on pypi"
Christian, could you publish this package on Pypi, so it can be fetched without specifying the github URL?

https://github.com/home-assistant/home-assistant/issues/7069

[2017-05-05 10:51] LinuxChristian commented on #12
Sorry about the late response. My internet has been spotty for a while. I look into it ASAP.

[2017-05-11 01:32] clach04 commented on #11
I have something that works for me, @thecalle do you have time to test PR #15?

[2017-05-12 06:37] LinuxChristian commented on #11
@clach04 should have fixed it now. However I use python3 so I cannot guarantee that a future change may not break compatibility. Let me know if this becomes a issue again.

[2017-05-12 06:37] #11 closed

[2017-05-13 07:31] thecalle commented on #11
Good news.

I will test it as soon as possibile.

Francesco

[2017-05-15 02:55] clach04 opened #16 "D-Link W110 smart switch (only state changing is supported)"
readme states:

With my device, state reporting works:

    print(sp.state)

works for my DSP-W110 RevB1 device with v2.03 firmware.

I'm not sure what limits this might be referring to (this device doesn't do anything else)

[2017-05-18 12:55] LinuxChristian commented on #16
The later devices (W215) also report temperature and different power consumption stats. The versions of W110 I have seen do not support these metrics.

[2017-05-18 14:55] clach04 commented on #16
I think I understand, how about changing to:

I.e. document "viewing".

[2017-06-05 01:51] Finnsk3 opened #19 "Error when performing soap calls"
Hi,

I have 3 W215's with 1.24 firmware, I am unsure what the deal is with 2.x firmware as the dlink site shows 1.24 as being the latest firmware.

I can't get a response back from pyW215, dsp-w215-hnap or homeassistant on any of my switches. I have also written my own w215 library in PHP but get the same response from the soap calls.

pyW215 gets a successful login but any further soap queries re

[2017-06-05 03:30] Finnsk3 commented on #19
Hitting /common/info.cgi I get this, showing the 2.16 firmware. :|
Atleast now I can log my wattage, I wish there was a way to turn the power on and off via this :(

Firmware Date: Tue, 1 Mar 2016
KERNEL: 2.6.31, Build: 0067, Date: Thu, 21, May, 2015
Application: 2.0, Build: 0604, Date: Wed, 23, Dec, 2015
WLAN Version: ap121-9.2.0.915, Build: 0008, Date: Fri, 03, Aug, 2012
Wireless Domain: 0x23
SS

[2017-06-05 04:52] Finnsk3 commented on #19
Update, I got it working.

I had to use the legacy mode.
Interestingly, sp = SmartPlug('192.168.1.175', 'pwd', True) didn't work, I had to change the actual class initialisation to get it to actually use legacy mode. No idea why, I have never written python before but even if I passed True when creating an instance of the object use_legacy_protocol was always False.

[2017-06-05 04:52] #19 closed

[2017-06-06 07:57] LinuxChristian commented on #19
@Finnsk3, Great you got it working! Thanks for the info.. I will look into if we have a bug with the legacy mode.

[2017-07-07 10:42] LinuxChristian commented on #16
Fixed in commit 5b5b6a89a0842f1534b39d39ab88b4d93de0e217

[2017-07-07 10:42] #16 closed

[2017-07-11 09:04] LinuxChristian commented on #12
Sorry about the extremely slow progress on this. My whole HASS setup is currently down since I am renovating my house from top to bottom.
But I have finally managed to make a pypi package: https://pypi.org/project/pyW215/

Let me know if I need to do anything else.

[2017-07-11 09:09] LinuxChristian commented on #9
Anything new on this issue?

[2017-07-12 21:47] andrey-git commented on #12
Thanks!

[2017-07-12 21:47] #12 closed

[2017-08-20 09:18] hcoohb opened #22 "Issue connecting to the plug (rev A1, firmware 1.25)"
Hi,
First, thanks for creating that code!

I am trying to setup (to put in Home assistant) the plug recently bought (Australian plug) it is rev A1 and it is on firmware 1.25.
It is working fine in the dlink app, however, when running the python scripts, it throws errors 95% of the time:

`Traceback (most recent call last):
  File "./testw215.py", line 9, in <module>
    sp = SmartPlug('192.168.1.2

[2017-08-21 06:44] LinuxChristian commented on #22
Hi Fabien,

Thanks for the bug report!
It seems to be a problem with the authentication step. I would be very interested in knowing what the plug returns so we can get your plug working. On line 299 I extract the response from the initial handshake with the plug. The code looks like this
[code]

Could you add in a `print(root)` in the space above. I do not know which platform you are on (Win, Mac,

[2017-08-21 12:54] hcoohb commented on #22
Thank you for the quick answer,

I got it to print the response, here it is when it is failing:
[code]
And when it is succeeding:
[code]

For reference I am using the following pyhton script:
[code]

And I realise that pretty much always the first time I am running the script after reconnecting the plug, it runs fine, but from the second time, it does not anymore...
If I wait for some time >10min,

[2017-08-21 13:05] hcoohb commented on #22
It seems as well that that new firmware 1.25B03 from the 20 July 17 implements:

according to the release notes... Can this have something to do with the behaviour of the plug?
source: [http://support.dlink.com/ProductInfo.aspx?m=DSP-W215](http://support.dlink.com/ProductInfo.aspx?m=DSP-W215)

[2017-08-21 14:06] LinuxChristian commented on #22
That is interesting. Might be the back off time. 10 min does however seem a long time to wait. I am guessing you can get updates more frequently than 10 min using the app?
In the release notes they do also mention that push events are now fixed. Perhaps they have changed from a pull to a push based model?

I will try to update one of my plugs and see what happens.

[2017-08-23 11:48] hcoohb commented on #22
Hi, I have done some more investigations and found a possible way forward! A few points:
1. It seems that only 4 SOAP request with auth() can be sent and answered every ~6min
2. Now, I modified the code to keep reusing the auth param after the first one, And it works !!!!
i modified pyW215 as such:
[code]
But therefore I have to keep the pyW215 object alive in my own script:
[code]

Now the issue

[2017-08-24 03:43] hcoohb commented on #22
Further to yesterday testing,
It seems there are no expiration of the authentication.
-Once it has been done once, no need to do it again until the plug is disconnected from the power!
-It does not impact using the plug from within the app either.

When the plug has been disconnected from power, and then reconnected, if we try to use the old auth() the following error shows up:
`WARNING:pyW215.pyW

[2017-08-24 08:25] LinuxChristian commented on #22
Great you got it working!

I would simply add a class attribute and do something similar to what you did,

[code]

I think that is a nice solution. If there was a timeout we could also add a `self.authenticated_time = time.time()` but since that is not the case let's skip that for now.

About the re-authentication. I expect it to fail during __init__ since that has a SOAPAction call. Then you coul

[2017-08-24 10:28] hcoohb commented on #22
Thanks for the answer!
I will give it a try to create a PR (not very familiar with it yet, but I need to get started on it, haha).
Just 2 points where I would need your input:

-  Should we do that single Authentication only for the legacy protocol ?
- I think if we need to re-authenticate, it is not necessarily during init: I am thinking in case of HA, the object is created when HA starts, so if

[2017-08-24 19:02] LinuxChristian commented on #22
* I think using the same scheme for both legacy and normal protols would be best. But I do not know if old plugs have a timeout for authentication. So perhaps it is best to split it as you have already done in the RP.
* Perhaps a recursive call? Then we do not have to repeat code

[code]

[2017-09-01 13:07] LinuxChristian commented on #22
Submitted version bump for HASS

https://github.com/home-assistant/home-assistant/pull/9252

[2017-09-01 13:30] LinuxChristian commented on #22
Merged with HASS.

[2017-09-01 13:30] #22 closed

[2017-09-01 13:34] LinuxChristian commented on #9
I just merged a fix for the v1.25 firmware update where they introduced an auth limit to stop brute-force attaches. That maybe what is also happing here.. The newest version of the library (v0.6.0) supports this for legacy devices (v1.24 and v1.25).

I will try activate this for all firmware versions locally and see how my plugs behave. If anyone wants to try on their own plug just switch to the l

[2017-09-01 22:54] hcoohb commented on #22
Awesome.
Thank you very much!

[2017-11-03 20:01] frog32 commented on #9
It has been two months since the last update. Does that mean that you did not have any issues since? If yes would it be possible to ship a release with that fix?

[2017-11-04 22:51] ghost commented on #9
I'm on the V1.25 also, seems there's a 3 try limit? After 3 queries I get the error below.

Reboot of switch fixes it. I'm not sure how long the timeout value is, but it doesn't' seem to reset.

[code]

[2017-11-05 07:49] LinuxChristian commented on #9
@frog32 Have you tried the v0.6.0 release? That is integrated into the latest version of home assistant since Sepember 1th.
@willd-easy Are you using the v0.6.0 release with your v1.25 plug?

Right now I still have a hard time finding a pattern in this bug.
 * @willd-easy fails after 3 trys
 * @mikepm35 fails after 7-9 hours but is dependent on the number of active plugs
 * I have not found a patt

[2017-11-19 16:01] LinuxChristian commented on #9
I think I have made progress. The following scripts has been running for over a week without a single failure.

[code]
My current guess is that home assistant is querying the device too often. I will try to wrap the device through MQTT and see it that helps.

[2017-11-19 20:35] frog32 commented on #9
We could also reduce the polling interval in home assistant. I can confirm that after some time this still happens but for me it locks up after more than a week.

[2017-11-21 00:54] Schnabelriechen opened #24 "Is there an tutorial for an noobie?"
I´m very inexperienced in python, is there a quick tutorial how to set up this script?

[2017-11-23 08:28] LinuxChristian commented on #24
Hi @Schnabelriechen,

If you are new to python I would suggest this guide: https://www.python.org/about/gettingstarted/

If you just want to get started with the library I hope the code example from the README can help you

[code]

[2017-11-23 08:29] LinuxChristian commented on #9
@frog32 I have been looking for that feature. Knows that it exists but my google skills were not powerful enough. Do you know where it is?

[2017-11-23 20:17] frog32 commented on #9
I think this could be achieved by using throttle on the update method here:
https://github.com/home-assistant/home-assistant/blob/dev/homeassistant/components/switch/dlink.py#L140

https://github.com/home-assistant/home-assistant/blob/dev/homeassistant/util/__init__.py#L236

[2017-11-25 00:59] Platypuschan commented on #24
Thank you very much for your quick reply 👍
First off: i´m really new to python... But it took me some time to figure out how this works...
Saving the first four  rows and the sp.state = ON/OFF into an *.py file, chmod +x it, and open it with python3 <yourscript>. Somehow it didn´t work with my normal python. Maybe you could mention those steps in the readme for noobies like me...

[2017-11-29 08:00] LinuxChristian commented on #24
Thanks for the suggestion. I will update the readme the next time I make changes.

[2017-11-29 08:00] #24 closed

[2017-11-29 08:01] LinuxChristian commented on #9
Think that might solve some of the problem. I will look into it.

[2017-12-07 22:21] henrikhjelm commented on #9
have the same problem, any news on it ?

[2017-12-12 19:21] LinuxChristian commented on #9
Sorry about the late reply. Things have been swamped so I have not had the time yet. I will look into it now and start testing.

[2017-12-17 07:58] LinuxChristian commented on #9
Quick update. My switch is still going strong. I will give it a week more and if it still works commit the changes to HASS.

[2017-12-31 14:47] LinuxChristian commented on #9
The switch has now died with the same error,

`2017-12-28 10:32:12 WARNING (MainThread) [homeassistant.components.switch] Updating dlink switch took longer than the scheduled update interval 0:00:30`

Let me just check my changes to HASS again. Otherwise I don't quite know where the problem could be.

[2018-08-09 13:47] dinkonin commented on #9
Same problem with firmware V2.23b02, any progress ?

[2018-08-10 12:11] frog32 commented on #9
No I still have the same issue but now I am moving away from d-link.

[2018-08-23 19:11] LinuxChristian commented on #9
Sorry for the late reply. Summer holiday season :beach_umbrella:

No progress unfortunately. I cannot find the problem. It is only related to home assistant. I cannot recreate it using the library in standalone mode. So it must be something with the way HASS calls the library (I have added throttle control to test if the frequency of calls was a problem) or perhaps HASS stores some information the

[2018-08-28 06:45] DanielAndreasen opened #27 "Unable to open a connection to dlink switch <IP>: D-link W115"
Hi Christian,

I'm sure this package is just what I need, however I can't get it to work with the W115 model (which I guess is fair since your package is called `pyW215`). But before I give up hopes, I just want to make sure I do the right thing.

1. Connect with my laptop to the switch and obtain the IP address.
2. Run the command as per the README, with the correct IP and pin code.

Then I get t

[2018-08-30 18:53] LinuxChristian commented on #27
Hi Daniel,

I only own the W215 model but I know the software supports the W110 model so let's see if your 115 is not also supported. The error you are seeing is from the auth step when communicating with your plug. You can see the exception on line [L328](https://github.com/LinuxChristian/pyW215/blob/f1757285e3d323727e6c3bc604197fc85afb88f1/pyW215/pyW215.py#L328).

I would start by seeing if you

[2018-08-31 06:30] nc-dtan commented on #27
Hi Christan,

Mange tak. I will have a look during the weekend, and let you know how it goes.

Edit: Send from my work account, but same person :)

[2018-10-08 05:48] mozo178 opened #28 "Problem with DSP-W215 HW version B2"
Hi, Your plugin works perfect with B1 version, but not with the B2 version. The firmware version is the same (2.22) with bth devices. I  tried it with 2.23 with the same result. (Only with B2).

Can you help me how to solve this?

I get the following error message, (I removed the ip address and the key):

exit code: 1, Traceback (most recent call last):
  File "dlink2.py", line 4, in <module>

[2018-10-09 06:39] LinuxChristian commented on #28
Thanks for the bug report. Let's see if we can get your plug working.

Can I get you to print the response variable on line 168? The string is perhaps not the correct format.

[2018-10-09 09:36] mozo178 commented on #28
Hi, Please help me how I can do that, which command should I use, etc. I am  not good in this.

[2018-10-13 07:35] LinuxChristian commented on #28
Sure and sorry for the late reply.

Find line 168 in the file pyW2115.py in the folder pyW215 and add the following print statement,

[code]

Then run your normal command to execute the script and you should get more information about the response variable. Try sending that to me and we can have a look.

[2018-10-15 18:35] mozo178 commented on #28
Thanks, I tried the modified script my work and the not work device.

The result with the working (old) device:
<addinfourl at 3060197496L whose fp = <socket._fileobject object at 0xb666a630>>
<addinfourl at 3060235800L whose fp = <socket._fileobject object at 0xb666ad70>>
147.98
<addinfourl at 3060255200L whose fp = <socket._fileobject object at 0xb66830f0>>
44
<addinfourl at 3060234840L whose fp

[2018-10-17 17:36] LinuxChristian commented on #28
Okay. So you get some object back but the object handler does not provide a lot of information.
It is quite strange but the error message would suggest you get back non-ASCII chars. Try this,

[code]

[2018-10-17 18:41] mozo178 commented on #28
exit code: 1, Traceback (most recent call last):
  File "dlink2.py", line 4, in <module>
    sp = SmartPlug('192.168.1.52','392511')
  File "/usr/local/lib/python2.7/dist-packages/pyW215/pyW215.py", line 61, in __init__
    self.model_name = self.SOAPAction(Action="GetDeviceSettings", responseElement="ModelName", params = "")
  File "/usr/local/lib/python2.7/dist-packages/pyW215/pyW215.py", line 1

[2018-10-17 18:45] LinuxChristian commented on #28
Still strange. So now the decode works... How about his,

[code]

[2018-10-17 18:51] mozo178 commented on #28
"exit code: 1, Traceback (most recent call last):↵ File "dlink2.py", line 4, in <module>↵ sp = SmartPlug('192.168.1.52','392511')↵ File "/usr/local/lib/python2.7/dist-packages/pyW215/pyW215.py", line 61, in __init__↵ self.model_name = self.SOAPAction(Action="GetDeviceSettings", responseElement="ModelName", params = "")↵ File "/usr/local/lib/python2.7/dist-packages/pyW215/pyW215.py", line 170, in S

[2018-10-17 18:54] LinuxChristian commented on #28
Okay.. so the error is moving down 😄

You only get the error? Not the print? Would really like to see the content of xmlData.

One final suggestion (a bit of going over the bridge but let's see),

[code]

[2018-10-17 18:59] mozo178 commented on #28
It is alive!!!!!! :D Thank you very much. Now your script can work with DSP-W215 H/W Ver.:B2! :)

[2018-10-17 19:04] LinuxChristian commented on #28
That great! Perhaps we can clean it up a bit then I can add it to the master branch. Can you check if this works,

[code]

If is say something like: UnicodeEncodeError not defined then try,

[code]

[2018-10-17 19:19] mozo178 commented on #28
First version:
exit code: 1, Traceback (most recent call last):
  File "dlink2.py", line 2, in <module>
    from pyW215.pyW215 import SmartPlug, ON, OFF
  File "/usr/local/lib/python2.7/dist-packages/pyW215/pyW215.py", line 169
    except UniCodeEncodeError:
         ^
SyntaxError: invalid syntax

Second version:
exit code: 1, Traceback (most recent call last):
  File "dlink2.py", line 2, in <modu

[2018-10-17 19:22] LinuxChristian commented on #28
Sorry. My bad. All the lines should be the same indentation (align).
So I think the line with except needs a space?

[2018-10-17 19:30] mozo178 commented on #28
No, no, my bad, I missec to write try. :D
First version:
exit code: 1, Traceback (most recent call last):
  File "dlink2.py", line 4, in <module>
    sp = SmartPlug('192.168.1.52','392511')
  File "/usr/local/lib/python2.7/dist-packages/pyW215/pyW215.py", line 61, in __init__
    self.model_name = self.SOAPAction(Action="GetDeviceSettings", responseElement="ModelName", params = "")
  File "/usr/lo

[2018-10-17 19:34] LinuxChristian commented on #28
Okay.. Version 2 should work but is not aligned with the other lines. Perhaps it is missing a space or has one too many?

[2018-10-17 20:12] mozo178 commented on #28
If the lines aligned like this:
        try:
             xmlData = response.read().decode()
        except:
            xmlData = response.read()
        root = ET.fromstring(xmlData)

Then:

exit code: 1, Traceback (most recent call last):
  File "dlink2.py", line 4, in <module>
    sp = SmartPlug('192.168.1.52','392511')
  File "/usr/local/lib/python2.7/dist-packages/pyW215/pyW215.py", line 61,

[2018-10-17 20:17] mozo178 commented on #28
It removed my tabs. :(
try:
     xmlData = response.read().decode()
except:
     xmlData = response.read()
root = ET.fromstring(xmlData)

Edit: and my spaces...

[2018-10-20 07:33] LinuxChristian commented on #28
Think I lost the overview of what your code looks like now 😄

In Python spaces are part of the language. So you normally use 4 space indentation. So the line after try should have four spaces more than try. The line after except should also have four spaces more than the except line. Try and except are indented by 8 spaces because they are part of the function that is part of a class. The class is

[2018-10-28 06:24] WilliamRandol opened #29 "Unhanded "AttributeError" when authentication fails"
If authentication fails, the response may not include the Challenge, Cookie or Privatekey elements.
There is an attempt to call ".text" on the nonexistent values.

".text " should be called after the check to see if the values exist.

[2018-10-29 18:01] LinuxChristian commented on #29
merged!

[2018-10-29 18:01] #29 closed

[2018-11-26 07:13] mozo178 commented on #28
Hi, sorry for the late answer, but I killed my raspberry zero with a modbus test and tried to make it work again.
I installed it with
pip install pyW215
when use the command python dlink1.py
(I have 2 dlinks and renamed the files to dlink1.py and dlink2.py)
There is an error:

Traceback (most recent call last):
  File "dlink1.py", line 2, in <module>
    from pyW215.pyW215 import SmartPlug, ON, OF

[2018-12-02 07:38] LinuxChristian commented on #28
Sorry for the late reply.

Try running `which python`
My guess is that you are running python3 but pip is installed on python2.7.

If that is the case you need to run `python2.7 dlink1.py`

[2018-12-02 07:56] mozo178 commented on #28
![kepernyokep errol 2018-12-02 08-54-04](https://user-images.githubusercontent.com/40774907/49337201-df886380-f60f-11e8-880a-aeddda6b9697.png)
Hi, now everything work like a charm. :) I did not modificate the pyW215.py file, only installed it with pip install pyW215.

You can close the issue. ;)

[2018-12-02 09:32] #28 closed

[2019-04-09 18:43] rafaelbiriba commented on #27
Any news about how to connect to W115?

[2019-04-09 18:53] rafaelbiriba commented on #27
Ok, problem solved!
I got access to my DSP-W115! Using user `Admin` and password is the **PIN code number and not the password.**

So, we need to change the code to use the user with uppercase.

[2019-05-04 08:54] yoshienlin commented on #27
I have the same issue on W115. I can access to both:
http://plug IP/HNAP1
http://plug IP/my_cgi.cgi

However, the just cannot use the code to create a SmartPlug instance. Is there any way I can debug? thanks.

[2019-05-04 09:05] LinuxChristian commented on #27
Hi @yoshienlin,

Can you add a bit more detail about what information you use to create the SmartPlug instance and how your setup is? The hardware version of your plug would be nice. Adding a print to line 325 would also give you some more information about what type of response your plug provides.

[2019-05-04 13:59] yoshienlin commented on #27
Thanks @LinuxChristian for the reply.

The HW version of my W115 is: A1

adding a print to line 325 and got knew that the error was a HTTP Error 500: Internal Server Error
![error 500](https://user-images.githubusercontent.com/8197973/57180004-9be39f80-6eb6-11e9-8c8a-775b348dd484.PNG)

Here is how I create the SmartPlug instance:
In [1]: from pyW215.pyW215 import SmartPlug
In [2]: sm = SmartPlug('

[2019-05-04 17:36] LinuxChristian commented on #27
Hmm. That does not look promising. Without some logs from the webserver (your plug) we cannot really get any closer to the error.

Perhaps they changed the login process. What information do you get when you visit the http://IP/HNAP1?

[2019-05-05 03:22] yoshienlin commented on #27
This is what I get when I visit http:/IP/HNAP1
![192 168 1 44](https://user-images.githubusercontent.com/8197973/57187833-a38f5c80-6f27-11e9-89f6-72e48ae12440.png)

Here is the response if I only supply self.url to Request. : response = urlopen(Request(self.url))
![output from 192 168 1 44](https://user-images.githubusercontent.com/8197973/57187839-b73ac300-6f27-11e9-89b8-de9123d9ba11.png)

It fai

[2019-05-05 14:58] LinuxChristian commented on #27
Have you tried to login with **your PIN** as password and **admin** as the user?

[2019-05-05 16:41] rafaelbiriba commented on #27
same issue here... this is the maximum that I can do with my `W155`:
![image](https://user-images.githubusercontent.com/324743/57197237-45816a00-6f65-11e9-96da-8f4b1920b8e5.png)

tried `HNAP1 ` endpoint, and after login I got the redirection above.

[2019-05-05 16:53] LinuxChristian commented on #27
Okay.. well then the login feature works on you device. Then they have most likely change the login setup for the W115.

The only way forward is then to open the developer toolbox in your browser and investigate what passes over the wire when you login via the browser. That may shed some light on what has changed. Exactly what you are looking for? I don't know. But you can see the XML payload I se

[2019-05-05 16:56] rafaelbiriba commented on #27
After the login, it redirects to the same /login with the user and password on the url. Is a GET request. there is no XML :(

[2019-05-06 18:10] LinuxChristian commented on #27
Hmm... Then I don't really how we can gain more information to fix this. I found the current protocol online so I don't know how to decode it from scratch.

[2019-11-24 12:18] onkelbeh opened #31 "Please make a 6.0.0 tar.gz release for redistribution."
Hi Christian,

I would like to use your integration in my [Gentoo Overlay for Home Assistant](https://github.com/onkelbeh/HomeAssistantRepository).

Therefor I would need a release file in tar.gz format.
Home Assistant currently requires: `pyW215==0.6.0`

A release on Github would be OK, currently there is none for `0.6.0`, so today I added a [fork to my Overlay](https://github.com/onkelbeh/HomeAs

[2020-04-01 00:56] rachnov55 opened #32 "how do i install this on hassio"
hi, sorry if i shouldn't be posting about this.

i only recently installed hassio (home assistant) on my raspberry pi...i have no idea how to install this.

I used raspbian before and am aware of how to git pull there, but I have no idea how to do it now since i can't open a terminal

[2020-04-07 14:08] MartinHjelmare opened #34 "Version 0.6.0 missing on PyPI"
Was version 0.6.0 removed from PyPI? We're getting an error in the Home Assistant continuous integration build.

[code]

pyW215 is used in the dlink integration:
https://github.com/home-assistant/core/blob/93f7f78263f4b3ccbbc564f8c67b5c1f9a6f6851/homeassistant/components/dlink/manifest.json#L5

[2020-05-14 00:40] jonassjoh commented on #27
In case anyone is still interested. The W115 and W245 do not use the HNAP1 protocol to control the device. The devices will just respond with generic error messages for any HNAP1 request.

As a result of a project of mine, I created a library to interface with these devices (and possibly others that I am unaware of). You can find the repository [here](https://github.com/jonassjoh/dspW245).

https:

[2020-05-14 05:31] LinuxChristian commented on #27
Cool! @jonassjoh, thanks for sharing. I have added a link to your library in the README so it is easier for people to find.

I know most people use this library through home-assistant. If you find the time it could be cool to add support for your library in the existing hass integration,
https://www.home-assistant.io/integrations/dlink/

[2020-05-14 05:34] LinuxChristian commented on #27
Well, I guess that closes this issue.
@DanielAndreasen and @rafaelbiriba - hopefully, that solves your issues getting the W115 running.

[2020-05-14 05:34] #27 closed

[2020-05-14 05:44] LinuxChristian commented on #34
Hi @MartinHjelmare. Sorry for the late reply. Github didn't notify me of the new issue :unamused:

We did a version bump to 0.7.0 and by accident deleted the 0.6.0 release. I would recreate it but on PYPI that is not an option.

HASS should be running the v0.7.0 version now and hopefully your tests pass again,
https://github.com/home-assistant/core/blob/dev/homeassistant/components/dlink/manifest.

[2020-05-14 05:44] #34 closed

[2020-05-14 05:49] LinuxChristian commented on #32
Hi @rachnov55 . Sorry for the late reply. Github didn't notify me of your question :unamused:

In hass you need to edit your `configuration.yaml` file and add this as a new `switch`. I think they have a in-browser edit option now. There is a small example with the code you need to add in the docs https://www.home-assistant.io/integrations/dlink/.

Hope it helps.

[2020-05-15 02:22] jonassjoh commented on #27
I don't think I'll ever get around to adding it to home-assistant since I won't have access to the plug for much longer. Although if someone else is up for it they are more than welcome to do so.

[2020-05-15 06:47] DanielAndreasen commented on #27
I haven't played with this since I opened up this issue. I think I'll give it another go one of these days. Thanks guys :)

[2020-10-26 23:17] Vinz87 opened #35 "Support for DSP-W118?"
Hi, would it be possible to add support for DSP-W118 smart plug?

[2020-11-11 10:44] LinuxChristian commented on #35
Hi @Vinz87, unfortunately, I don't have access to a DSP-W118 so I cannot reverse the protocol. I am happy to accept any changes that would add support but I will not have time to do the work myself.

However, as I understand the latest changes to the plug they have completly changed their communication protocol. So I think it would require a major rewrite to support it.

[2020-11-11 10:45] #32 closed

[2020-11-11 10:47] #9 closed

[2020-11-11 10:55] LinuxChristian commented on #31
Hi @onkelbeh,

I am sorry for the late reply. Did you manage to find the releases at https://github.com/LinuxChristian/pyW215/releases?

[2020-11-14 17:03] tymzang commented on #35
@Vinz87: as I see now many people demand HA integration with DSP-W118 since their app is so stupid...

[2020-11-16 10:11] Vinz87 commented on #35
Originally I wanted to be able to toggle the "privacy mode" from HA, but without an integration it's not possible, so I ended up using a smart plug which I toggle from HA to switch on and off the  cameras when they're not needed.
Having a full integration in HA would obviously be cleaner.

[2020-11-16 10:49] tymzang commented on #35
@Vinz87 : I have a solution for DSP-W118, but it is not a good way... You can link DSP-W118 to Google Assistant... Then Google Assistant can be linked to Hassio... The delay is not so much, 1-2 second... but you need Cloud, it is not Local anymore

[2020-11-16 10:54] Vinz87 commented on #35
sorry I was confusing here. I was thinking about D-Link cameras which I connected to the smart plugs DSP-W118, not viceversa :)

[2020-11-16 10:58] Vinz87 commented on #35
The only solution I found passes through IFTTT, which is working correctly but IFTTT has recently introduced a free plan with strong limitations on the number of integrations you can use.
So I already use a solution which is not local and does have some delay.

I will look into your suggestion, my goal would be to not rely on IFTTT anymore. So I have to look into the Google Assistant integration i

[2020-11-16 11:43] tymzang commented on #35
@Vinz87 : Don't use IFTTT, even they give your premium, it still have a lot delay... I tried and delete IFTTT account.

You only need to integrate GA to HA... every devices in GA will be synced to HA... If you have "Device ABC" on both HA and GA, after syncing, you will have 2 "Device ABC" on HA

[2020-11-16 11:44] tymzang commented on #35
@Vinz87 : this is just temporary solution... I wish DSP-W118 will be official integrated to HA for Local purpose

[2020-11-16 22:42] Vinz87 commented on #35
@tymzang I added the smart plug to Google Assistant, I tried [this](https://www.home-assistant.io/integrations/google_assistant/) tutorial (manual setup) for linking Google Assistant with Home Assistant. However it seems to me that the link is only in the HA -> Google direction, while my objective is to have the Google's plug control replicated in HA.
Is that the right tutorial to follow?

[2020-11-30 14:19] LinuxChristian commented on #35
Sounds like you found a workaround. I am still happy to accept a PR to add support but it sounds like the workaround is less work :slightly_smiling_face:

[2020-11-30 14:19] #35 closed

[2020-12-15 21:28] Vinz87 commented on #35
My current usage is through IFTTT D-Link integration, which has an easy to use trigger for them.
If you assume the user provides an IFTTT API key, it's easy to integrate since it only takes a HTTP requests to trigger something to IFTTT, and link the trigger to the ON/OFF command of the smart plugs.

[2021-07-15 17:14] onkelbeh commented on #31
Sorry for my late reply, lost track of this.
Just went through old tickets to clean up.

The only referenced version from HA is pyW215-0.7.0, everything is OK now.
If you are interested, the current Ebuild is [here](https://github.com/onkelbeh/HomeAssistantRepository/tree/master/dev-python/pyW215).

[2021-07-15 17:14] #31 closed

[2021-10-08 09:20] mario-mk opened #38 "DSP-W218 support"
Dear developers,
I was wondering about possible support of dlink DSP-W218 Smart Plugs. It's completely different comparing to 215 which is already end of sale and support. Have you made any research on this?
regards

[2021-11-11 20:21] jolaca01 commented on #38
Hi, DLink DSPW118 is a nice compact and even cheap smart plug, I would also like if you could add support for it in your Dlink HA integration. Thanks @LinuxChristian

[2021-11-12 08:27] LinuxChristian commented on #38
Hi @mario-mk and @jolaca01,

Thanks for the suggestion. Unfortunately, I do not own a DSP-W218 so it's impossible for me to develop an interface for it. As I understand, the new versions of DLink have also completely changed the protocol compared to the old W215. So I don't except it's possible to reuse much of the existing code for the W218.

If you dig a bit more into it and find some API docume

[2021-11-27 20:14] midtskogen commented on #38
I just got hold of a W218 and indeed it's totally different.  All TCP ports are closed, but UDP port 52644 is open.  That's all I have.  This is after configuring it to connect to my wifi.

[2021-12-01 08:26] LinuxChristian commented on #38
Thanks for the info, @midtskogen. I have added a note to the readme about support for W218.

There isn't anything more to do about this issue so I am going to close it. Please, reopen or keep commenting if you find more information about the topic.

[2021-12-01 08:26] #38 closed

[2022-01-15 16:47] kentthoresen-x commented on #38
DId enyone figure this out i just got one of these.

[2022-01-16 14:36] LinuxChristian commented on #38
@kentthoresen-x, unfortunately this library will not support W218 as the firmware is completely different compared to the W215. My best suggestion is to have a look at this project: https://github.com/ageof/MyDlink-API-Python

[2022-07-18 15:50] Darkman2771 opened #39 "DSP-W215 Firmware V2.23"
Hello There,

I am using your python module in Home Assistant (HA) to integrate my DSP-W215 smart plugs. Four of the plugs are EU version and one is UK version and all of them are running the following firmware:
[code]
I understand that the latest supported firmware for this module is V2.22 and technically V2.23 is not supported, but interestingly enough, I have one EU plug working flawlessly and

[2022-07-22 20:00] LinuxChristian commented on #39
Hi @Darkman2771

Thanks for reaching out and sorry for the late reply - holidays are busy times.

It does seem strange that one of your EU plugs is working while 3 are not working - the UK version could be a different build. Unfortunally, there are no docs from D-Link on how these plugs work. So it's difficult to debug issues like these. Likely the request to switch the power state has changed sli

[2022-07-25 16:15] Darkman2771 commented on #39
Hi @LinuxChristian,

Thanks for taking the time to respond to my message and for the pointers, really appreciate it.

I am very comfortable with scripting and wireshark but I have zero idea how these plugs work. I believe I would need a rooted phone with the application installed to redirect the traffic to a machine where I could do the interception and if the requests are done over HTTPS, then I

[2022-07-26 19:43] LinuxChristian commented on #39
Hi @Darkman2771,

Yes, I agree with your debugging steps. Unfortunately, these devices are not easy to hack.

I am not sure that version will work. I 2018, I got this bug report, https://github.com/LinuxChristian/pyW215/issues/28. He had issues using the B2 versions of the software with this library. Both on v2.22 and v.2.23. So if you can find a B1 version, I would suggest trying that one plug at